// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.c


.social-btn{
  width: 100 px;
  height: 25 px;
  color: red;
  text-align: center;
}
